# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# System file
.DS_Store

# build
build

server/config/index.js

# 微信支付证书文件
server/config/cert/apiclient_cert.p12
